<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

    <title>URL Shortener Microservice</title>

  </head>
  <body>

    <main>

      <h1>
        URL Shortener Microservice
      </h1>
      <div class="content">
        <h2>Usage:</h2>
        <ul>
          <li>
            <a href="/api/whoami">/api/whoami</a>
          </li>
        </ul>
      </div>

      <div class="example">
        <h2>Example Output:</h2>
        <code>
          {"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}
        </code>
      </div>

      <footer>
        Developed by <a href="https://github.com/kurotom">@kurotom</a>
      </footer>

    </main>

  </body>
</html>
